<template>
  <div class="wrapper">
    <div class="center-text is-size-3">Those who don't believe in magic will never find it.</div>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style lang="scss">
.wrapper, {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  min-height: 100vh;
  min-width: 100vw;

  background: url('~@/assets/background.jpg') no-repeat center;
  background-size: cover;
}

.center-text {
  background: rgba(white, 0.8);
  width: 100vw;
  padding: 1.5rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-content: center;
  text-align: center;
}
</style>
