body {
  background: url('../img/background2.jpg') no-repeat center center fixed;
  background-size: cover;
}
.content {
  background: rgba(255, 255, 255, 0.8);
  width: 500px;
  margin: 200px auto;
  padding: 40px 40px 60px;
  text-align: center;
}